.global {
	width: 100%;
}

.grid {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.card {
	display: inline-table;
	width: 400px;
	margin: 1rem;
	padding: 1.5rem;
	color: inherit;
	transition: font-size 0.1s, color 0.15s ease, border-color 0.15s ease;
	border: 1px solid var(--darkcolor2);
	border-radius: 5px;
	text-align: center;
	font-size: 30px;
	line-height: 100px;
}
.card:hover {
	font-size: 25px;
	color: #0070f3;
	border-color: #0070f3;
}

.selection {
	padding: 20px;
	width: 100%;
  	vertical-align: middle;
  	align-self: center;
	text-align: center;
	font-size: 20px;
	border: 1px solid var(--darkcolor2);
  	border-radius: 10px;
	background-color: var(--neutre);
}